<section class="jumbotron text-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="span4"><img class="center-block" src="https://i.stack.imgur.com/7CiRI.png" /></div>
    </div>
  </div>
</section>

{{#if user.expert}}

<a href="/addComment?c={{type}}">Add your prediction</a>

{{else}}

<a href="/comments?c={{type}}">See expert's opinions</a>

{{/if}}

<div>{{data}}</div>
