<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<section class="jumbotron text-center align-items-center">
  <canvas id="myChart" width="200" height="200"></canvas>
</section>

{{#if user.expert}}

<a href="/addComment?c={{type}}">Add your prediction</a>

{{else}}

<a href="/comments?c={{type}}">See expert's opinions</a>

{{/if}}

<div>{{data}}</div>

<script src="displayChart.js"></script>
