<div class="album py-5 bg-light">
    <div class="container">
{{#unless user.id}}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Welcome to Crypto Club!</h1>
      <p class="lead text-muted">Please Login or Register to access the full features</p>
      <p>
        <a href="/login" class="btn btn-primary my-2">Login</a>
        <a href="/register" class="btn btn-secondary my-2">Register</a>
      </p>
    </div>
  </section> 
{{/unless}}
          <div class="row">
            <a href="/crypto?c=bitcoin" class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" id="btcImg" src="https://cdn4.iconfinder.com/data/icons/proglyphs-shopping-and-finance/512/Coin_-_Bitcoin-512.png" href="#" alt="bitcoin_logo"  height="300">
                <div class="card-body">
                  <p class="card-text">Bitcoin</p>

                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted" id="btcQ">Quantity</small>
                  </div>

                </div>
              </div>
            </a>
            <a href="/crypto?c=ethereum" class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" id="ethImg" src="https://d172h4vc197skd.cloudfront.net/images/89/23/89231ba1d7cd720fb5d00106b33bf9db_4031156383d_t.png" alt="Card image cap" height="300">
                <div class="card-body">
                  <p class="card-text">Ethereum</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted" id="ethQ">Quantity</small>
                  </div>
                </div>
              </div>
            </a>
            <a href="/crypto?c=litecoin" class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" id="ltcImg" src="https://mpng.pngfly.com/20180525/wal/kisspng-litecoin-cryptocurrency-bitcoin-logo-cryptocurrency-5b081f1979b524.5871818715272589054985.jpg" alt="Card image cap"  height="300">
                <div class="card-body">
                  <p class="card-text">Litecoin</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted" id="ltcQ">Quantity</small>
                  </div>
                </div>
              </div>
            </a>
	</div>
</div>       
<script src="http://code.jquery.com/jquery.min.js"></script> 
<script src="fetchMarket.js"></script>
</main>
