<div class="container">
<div class="row col-10 pb-2 mb-2 mt-2 border-bottom">
	Register to get access to our site's features!
</div>

<div class="row col-10 justify-content-md-center mt-5">

<div class="card" id="tests"style="width: 36rem;">
  <div class="card-body">
    <h5 class="card-title">Register Here</h5>

    <form method="POST" action="/register">
		<div class="form-group">
			<label for="exampleInputEmail1">Username</label>
		    <input type="textbox" name="name" class="form-control" placeholder="username" value="{{username}}">
		</div>
		<div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" name="password" class="form-control" placeholder="password">
		</div>
		{{#listOfErrors}}
	    <div class="alert-danger p-2 mb-2">
	    	<ul>
	    		<li>{{this}}</li>
	    	</ul>
	   	</div>
	   	{{/listOfErrors}}
		<button type="submit" name="register_btn" value="pressed" class="btn btn-primary">Register</button>
	</form>
  </div>
</div>
</div>
</div>