
{{#profile}}
<div class="flex-column d-flex align-items-center">
      {{!-- Username --}}
      <div class="d-flex flex-row mb-3 mt-3">
        {{name}}
      </div>
      {{!-- /Username --}}

      {{!-- Headshot --}}
      <div class="d-flex flex-row mb-3 mt-3">
        <img src="http://buildbetterresults.com/wp-content/uploads/2017/09/Person-3.png" class=" w-50 h-50 img-responsive rounded mx-auto d-block">
      </div>
      {{!-- /Headshot --}}

      {{!-- Wallet Count --}}
      <div class="d-flex flex-row mb-3 mt-3 align-items-center">
        {{!-- BTC --}}
        <div class="rounded-pill mr-3">BTC</div>
        <span class="mx-25 center badge badge-primary badge-pill mr-3">{{btc}}</span>
        {{!-- /BTC --}}

        {{!-- ETH --}}
        <div class="rounded-pill mr-3">ETH</div>
        <span class="mx-25 center badge badge-primary badge-pill mr-3">{{eth}}</span>
        {{!-- /ETH --}}

        {{!-- LTC --}}
        <div class="rounded-pill mr-3">LTC</div>
        <span class="mx-25 center badge badge-primary badge-pill mr-3">{{ltc}}</span>
        {{!-- /LTC --}}

      {{!-- /Wallet Count --}}
      </div>
    </div>
    {{!-- /Profile --}}
    {{!-- Comments --}}
    <div class="flex-column d-flex align-items-center">
      {{!-- C1 --}}
      <div class="d-flex flex-row">
        <div class="card mx-25">
          <div class="card-body">
            <h5 class="card-title">Comment 1</h5>
            <p class="card-text">Cupidatat commodo ut sint dolor dolore ut laboris rehenderit proident in exercitation eiusmod dolor cup</p>
          </div>
        </div>
      </div>
      {{!-- /C1 --}}
      {{!-- C2 --}}
      <div class="d-flex flex-row">
        <div class="card mx-25">
          <div class="card-body">
            <h5 class="card-title">Comment 2</h5>
            <p class="card-text">Cupidatat commodo ut sint dolor dolore ut laboris rehenderit proident in exercitation eiusmod dolor cup</p>
          </div>
        </div>
      </div>
      {{!-- /C2 --}}
      {{!-- C3 --}}
      <div class="d-flex flex-row">
        <div class="card mx-25">
          <div class="card-body">
            <h5 class="card-title">Comment 3</h5>
            <p class="card-text">Cupidatat commodo ut sint dolor dolore ut laboris rehenderit proident in exercitation eiusmod dolor cup</p>
          </div>
        </div>
      </div>
      {{!-- /C3 --}}
    </div>
    {{!-- /Comments --}}
{{/profile}}